@import "tailwindcss";

:root {
  --primary: #09090b;
  --secondary: #121215;
  --tertiary: #22c55ecc;

  --text-primary: #fafafa;
  --text-muted: #fcfdffc5;
  --text-secondary: #09090b;
  --text-tertiary: #22c55e;

  --border-primary: #22c55e;
  --border-secondary: #d1d5db42;
}

@theme inline {
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Open Sans", sans-serif;

  --bg-primary: var(--primary);
  --bg-secondary: var(--secondary);
  --bg-tertiary: var(--tertiary);

  --text-primary: var(--text-primary);
  --text-secondary: var(--text-secondary);
  --text-tertiary: var(--text-tertiary);

  --border-primary: var(--border-primary);
  --border-secondary: var(--border-secondary);
}

body {
  background-color: var(--primary);
  color: var(--text-primary);
  font-family: var(--font-primary);
}
.container {
  max-width: (1400px, 90%);
  margin: 0 auto;
}

.about_svg {
  margin-right: 10px;
  animation: rotate360 12s linear infinite;
}

.scroll-custom {
  scrollbar-width: thin;
  scrollbar-color: #6b7280 #1f2937;
}

.scroll-custom::-webkit-scrollbar {
  width: 8px;
}

.scroll-custom::-webkit-scrollbar-track {
  background: #1f2937;
  border-radius: 9999px;
}

.scroll-custom::-webkit-scrollbar-thumb {
  background-color: #6b7280;
  border-radius: 9999px;
  border: 2px solid #1f2937;
}

.scroll-custom::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px var(--bg-primary) inset !important;
  box-shadow: 0 0 0 1000px var(--bg-primary) inset !important;

  -webkit-text-fill-color: var(--text-primary) !important;
  caret-color: var(--text-primary) !important;

  border: 1px solid var(--border-secondary) !important;
  transition: background-color 9999s ease-in-out 0s;
}

