.services-section-wrapper {
  position: relative;
}

.services-slider:not(.swiper-initialized) .swiper-wrapper {
  display: flex;
  gap: 24px;
}

.services-slider:not(.swiper-initialized) .swiper-slide {
  display: flex;
  height: auto;
}

@media (min-width: 1200px) {
  .services-slider:not(.swiper-initialized) .swiper-slide {
    flex: 0 0 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    display: none;
  }

  .services-slider:not(.swiper-initialized) .swiper-slide:nth-child(-n + 3) {
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .services-slider:not(.swiper-initialized) .swiper-slide {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
    display: none;
  }

  .services-slider:not(.swiper-initialized) .swiper-slide:nth-child(-n + 2) {
    display: flex;
  }
}

@media (max-width: 767px) {
  .services-slider:not(.swiper-initialized) .swiper-slide {
    flex: 0 0 100%;
    max-width: 100%;
    display: none;
  }

  .services-slider:not(.swiper-initialized) .swiper-slide:nth-child(1) {
    display: flex;
  }
}

.services-slider .swiper-wrapper {
  padding: 30px 0;
  align-items: stretch !important;
}

.section-slider-card {
  flex-direction: column;
  flex-grow: 1;
  display: flex !important;
  height: auto !important;
  border-radius: 10px;
  cursor: pointer;
}

.slider-image {
  height: 280px;
  position: relative;
}

.slider-img {
  height: auto;
  transform: translateY(0);
  transition: transform 3s linear;
}

.slider-image:hover .slider-img {
  transform: translateY(calc(-100% + 280px));
}
.section-slider-card > *:last-child {
  flex-grow: 1;
}